
   
<div class="button-container">
    <button class="button"> <a class="text-style" routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a> </button> 
    <button class="button">
        <a class="text-style" routerLink="/addclient" routerLinkActive="active" ariaCurrentWhenActive="page">Create Client</a>
    </button>
    <button class="button">
        <a class="text-style" routerLink="/addmeeting" routerLinkActive="active" ariaCurrentWhenActive="page">Schedule Meeting</a>
    </button>
    
</div>     
    


  <router-outlet></router-outlet>